@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
@import "reset.css";

/* Components */
@import "components/header.css";
@import "components/main.css";
@import "components/footer.css";
@import "components/about.css";

body {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

::selection {
  background-color: #222222;
  color: #ffffff;
}
