.price {
  padding: 5rem 0;
  background-color: #666666;
}

.price h2,
.price h4 {
  text-align: center;
  color: white;
}

.price h2 {
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

.price h4 {
  margin-bottom: 60px;
}

.price__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.price__item {
  width: 32%;
}

.price__item > ul:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
}

.price__item {
}

.price__item > ul > li:not(:first-child) {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.price__item > ul > li:first-child {
  color: white;
  font-size: 20px;
}

.price__item > ul > li:nth-child(6) > h5 {
  font-size: 24px;
}

.price_tit {
  background-color: #111111;
  padding: 30px 60px;
}

.price_tit2 {
  background-color: #fe3300;
  padding: 62px 50px;
}

.price__sign-up {
  padding: 8px 16px;
  background-color: #111111;
  color: #ffffff;
  cursor: pointer;
}
